@media (min-width: 769px) {
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    .hidden {
        display: block;
    }

    article {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .copy-header {
        max-width: 350px;
    }

    main section article {
        width: 210px;
        height: 335px;
        overflow: hidden;
        margin: 10px;
        transition: all 100ms;
    }

    main section article:hover {
        height: 370px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .main-header-top-bar {
        justify-content: space-between;
        width: 66%;
    }
    
    .contendeor-logo-busqueda-cuotas {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 35px;
    }

    .footer-container {
        display: flex;
    }

    /* --LOGIN-- */

    main form {
        margin-left: 200px;
        margin-right: 200px;
    }
}
