 * {
        /* margin: 0px;
        padding: 0px; */
        box-sizing: border-box;
    }

body{
    font-family: 'Roboto';
    margin: 0;
    background-color: #ebebeb;
}

header{
    width: 100vw;
    background-color: #EAC926;
    padding: 20px;
    
}

.main-header-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
    max-width: 500px;
}

.contenedor-barra-busqueda {
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
}

.barra-busqueda {
    border: none;
    background: none;
    outline: none;
    height: 100%;
    width: 80%;
}

.icono-busqueda {
    list-style: none;
}

.compra-en-cuotas {
    text-align: center;
    font-size: 18px;
}

.main-navbar {
    display: none;   
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222;
    display: inline-block;
    padding: 5px;
}

.list-left {
    display: flex;
    margin: 5px;
}

.list-right {
    display: flex;
}

.banner {
    width: 100%;
}

main section article {
    background-color: white;
    width: 330px;
    height: 430px;
    overflow: hidden;
}

main section article:hover {
    height: 465px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.align{
    text-align: center;
}

.bodytext{
    font-size: 12px;
}

.titulares {
    text-align: center;
    font-size: 24px;
}

.descuentos-descripciones {
    font-size: 16px;
}

.burger-menu{
    text-align: center;
    color: white;
    background-color: #0954a5;
    width: 30px;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
}

.footer-icons {
    color: #0954a5;
    font-size: 2em;
    margin-bottom: 10px;
    transition: all 100ms;
}

.footer-icons:hover {
    color: #368ae4;
}

main {
    width: 90vw;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

article {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.precio-descuento {
    display: flex;
    height: 40px;
    width: 265px;
    align-items: baseline;
}

.precios {
    font-size: 18px;
    width: 30%;
}

.descuento {
    color: #39b54a;
    width: 70%;
}

.articulo-descripcion {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    text-align: left;
}

.hidden {
    display: none;
}

.hidden:hover {
    display: block;
}

main section article .flex-container {
    position: relative;
    right: -78%;
    top: 15px;
    color: #39b54a;
    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.flex-container {
    transition: all 100ms;
}

.flex-container:hover {
    transform: rotate(-90deg);
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

