@media (min-width: 481px) and (max-width: 768px) {
    .main-navbar {
        display: flex;
        justify-content: space-between;
        
    }

    .burger-menu {
        display: none;
    }

    .hidden {
        display: block;
    }

    article {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    main section article {
        width: 270px;
        height: 390px;
        overflow: hidden;
        margin: 10px
    }

    main section article:hover {
        height: 430px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .main-header-top-bar {
        justify-content: space-between;
        width: 66%;
    }
    
    .contendeor-logo-busqueda-cuotas {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 35px;
    }

    /* LOGIN */

    /* .contenedor-input {
        width: 40%;
    }

    .contenedor-input-boton {
        width: 40%;
    }*/

    main form {
        margin-left: 100px;
        margin-right: 100px;
    }
}
